@origyn:registry=https://git.freshcode.org/api/v4/projects/565/packages/npm/
//git.freshcode.org/api/v4/projects/565/packages/npm/:_authToken=WuLEayRzcYqzwCDRNx8c
//git.freshcode.org/api/v4/packages/npm/:_authToken=WuLEayRzcYqzwCDRNx8c