.flex-container {
  /* gap between container 1 and container 2 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 24px;
  gap: 564px;
  width: 104px;
  height: 900px;
  position: relative;
  background-color: #fefefe;
}

/* .flex-container ii tot component,
 container 1 si 2 is children */

.container1 {
  /* gap between div 1 and div 2 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  gap: 20px;
  width: 56px;
  height: 284px;
}

.topItem1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 10px;
  gap: 10px;
  width: 56px;
  height: 80px;
}

.topItem2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 56px;
  height: 184px;
}

.topItem2 :hover {
  background: #f4e5f1;
  border-radius: 999px;
}

.topItem2 :active {
  background: #f4e5f1;
  border-radius: 999px;
}

.container2 {
  /* gap between div 1 and div 2 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 56px;
  height: 88px;
}

.bottomItem1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  gap: 8px;
  isolation: isolate;
  width: 56px;
  height: 32px;
}

.bottomItem2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 10px;
  width: 32px;
  height: 32px;
}

.bottomItem2 :hover {
  background: #f4e5f1;
  border-radius: 999px;
}
