.flex-container {
  /* gap between container 1 and container 2 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 24px;
  gap: 564px;
  width: 104px;
  height: 950px;
  position: absolute;
  background-color: #fefefe;
}

/* if added container 1 + container 2 + gap (from flex-container) = 936px and flex-container is 900px
that means that container 2 will be pushed outside flex-container, so i replaced 900px with 950px

 */

/* .flex-container is whole component,
 container 1 and 2 are children */

.container1 {
  /* gap between div 1 and div 2 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  gap: 20px;
  width: 56px;
  height: 284px;
}

.topItem1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 10px;
  gap: 10px;
  width: 56px;
  height: 80px;
}

.topItem2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 56px;
  height: 184px;
}

.item-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px;
  width: 18px;
  height: 18px;

}

.item-home :hover {
  background: #f4e5f1;
  border-radius: 999px;
}

.item-home :active {
  background: #f4e5f1;
  border-radius: 999px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 19px;
  color: #5F5F5F;
  width: 18px;
  height: 18px;
  ;
}

.item :hover {
  background: #f4e5f1;
  border-radius: 999px;
}

.item :active {
  background: #f4e5f1;
  border-radius: 999px;
;
}

.container2 {
  /* gap between div 1 and div 2 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 76px;
  height: 88px;
}

.bottomItem1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  width: 76px;
  height: 32px;
  border-radius: 999px;
}

.bottomItem2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 10px;
  width: 32px;
  height: 32px;
  
}

.bottomItem2 :hover {
  background: #f4e5f1;
  border-radius: 999px;
}
