// Light theme colors
$primary-color: #007acc;
$secondary-color: #6c757d;

// Dark theme colors
$primary-color-dark: #007acc;
$secondary-color-dark: #6c757d;

$background-color-dark: #222;
$foreground-color-dark: #eee;
