$ogy-background-color: #151515;
$ogy-secondary-text: gray;
$ogy-text-color: #FEFEFE;

$ogy-accent-color: #70237D;
$ogy-white-color: white;
$ogy-black-color: black;
$ogy-lightGrey-color: lightGrey;
$ogy-midGrey-color: lightGrey;
$ogy-darkGrey-color: darkGrey;
$ogy-error-color: red;
$ogy-status-color: yellow;


$ogy-primary-color: black;

